# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!eslint.config.js
!README.md
!.vscode

# Ignore MDX files
*.mdx

# Migrated static artifacts
legacy-hexo-static
legacy-astropaper-template
public/2025
public/pagefind
